{
  "ignore": ["node_modules/**"],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "flow-react-proptypes"
      ]
    }
  },
  "plugins": [
    "external-helpers",
    "flow-react-proptypes",
    "transform-flow-comments",
    "transform-flow-strip-types"
  ]
}